*.SchDoc linguist-language=Altium-Designer
*.PcbDoc linguist-language=Altium-Designer
*.Harness linguist-language=Altium-Designer
*.PCBDwf linguist-language=Altium-Designer
*.Outhob linguist-language=Altium-Designer
*.cam linguist-language=Altium-Designer
*.DXPPrf linguist-language=Altium-Designer
*.DsnWrk linguist-language=Altium-Designer
*.PcbLib linguist-language=Altium-Designer
*.SchLib linguist-language=Altium-Designer
*.BomDoc text eol=crlf
*.OutJob text eol=crlf