*.SchDoc linguist-language=Altium
*.PcbDoc linguist-language=Altium
*.Harness linguist-language=Altium
*.PCBDwf linguist-language=Altium
*.Outhob linguist-language=Altium
*.cam linguist-language=Altium
*.DXPPrf linguist-language=Altium
*.DsnWrk linguist-language=Altium
*.PcbLib linguist-language=Altium
*.SchLib linguist-language=Altium
*.BomDoc text eol=crlf
*.OutJob text eol=crlf